<!DOCTYPE html>
<html>
<head th:replace="fragments :: html_head"></head>
<body>

<div th:replace="fragments :: menu"></div>
	<div class="container mt-4">
		<div class="col-sm-6">
		
		
			<form th:action="@{/save}" th:object=${linea} method="POST">
				<div class="card-header">
					<h3>Modulo Linea</h3>
				</div>

				<div class="card-body">
						<input type="hidden" th:field="*{id}" /> 
						
						<div class="form-group">
							<label>fecha</label>
							<input th:field="*{date}" type="date" class="form-control"> 
						</div>
						
						<div class="form-group">
						<label>Ingreso/Gasto</label>
						<select th:field="*{ingresoGasto}" data-target="familia" class="form-control ingresoGasto selectFilter">
							<option value="-1">Selecciona</option>
							<option data-ref="gasto" th:value="gasto" th:text="Gasto"></option>
							<option data-ref="ingreso" th:value="ingreso" th:text="Ingreso"></option>
						</select>
						</div>
						
						<div class="form-group">
							<label>Familia</label>
							
							
							<select th:field="*{familia}"  data-target="tipo" class="form-control familia selectFilter">
							<option value="-1">Selecciona</option>
							<option th:each="herarquia : ${herarquiaIngGastoFamilia}"
									th:data-ref="${herarquia.hijo}"
									th:data-belong="${herarquia.padre}" 
									th:value="${herarquia.hijo}"
									th:text="${herarquia.hijo}"></option>
						</select>
							
						</div>
						
						<div class="form-group">
						<label>Tipo</label>
						<select th:field="*{tipo}"  data-target="subtipo" class="form-control tipo selectFilter">
							<option value="-1">Selecciona</option>
							<option th:each="herarquia : ${herarquiaFamiliaTipo}"
									th:data-ref="${herarquia.hijo}"
									th:data-belong="${herarquia.padre}" 
									th:value="${herarquia.hijo}"
									th:text="${herarquia.hijo}"></option>
						</select>
						</div>
						
						
						
						<div class="form-group">
							<label>Subtipo</label>

							<select th:field="*{subtipo}" data-target="vacio" class="form-control subtipo selectFilter">
							<option value="-1">Selecciona</option>
							<option th:each="herarquia : ${herarquiaTipoSuptipo}"
									th:data-ref="${herarquia.hijo}"
									th:data-belong="${herarquia.padre}" 
									th:value="${herarquia.hijo}"
									th:text="${herarquia.hijo}"></option>
						</select>
							
						</div>
						
						<div class="form-group">
							<label>Concepto</label>
							<input th:field="*{concepto}" type="text" class="form-control"> 
						</div>
						
						<div class="form-group">
							<label>Valor (Euros)</label>
							<input th:field="*{valor}" type="number" step=".01" class="form-control"> 
						</div>
						
						<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				
			
			</form>
		</div>
	</div>
	
	
<script src="/static/selectFilter.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	
</body>
</html>